{% extends "layout_main.html" %}

{% block body %}

<div class="ui grid">
    <!--<div class="ui three wide column">
    </div>-->
    <div class="ui six wide column">
        {{ show_flash() }}
        {% for row in content %}
        <div class="ui stacked segment">
                <a href="{{url_for('main.user', name = row.User.name)}}"><img class="rounded ui image blog-title-avatar" src ="http://www.gravatar.com/avatar/{{row.User.avatar_hash}}?s=16">{{ row.User.name }}</a>
                {{ row.Post.view_count }} <i class="unhide icon"></i>
                {{ row.Post.comment_count }} <i class="comment outline icon"></i>
                {{ row.Post.post_time }}
            <!--<div class="ui top right green attached label">
                <a href="{{url_for('main.post_title', title = row.Post.title)}}">read more</a>
            </div>-->
            <div class="BT-post"><a class="blog-posttitle" href="{{url_for('main.post_title', title = row.Post.title)}}">{{ row.Post.title|safe }}</a></div>
        </div>
        {% else %}
        <div class="ui stacked segment">
            No post exists!
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block script %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'highlight/styles/monokai_sublime.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename = 'highlight/highlight.pack.js') }}"></script>
<script type="text/javascript">
    //monokai_sublime tomorrow pojoaque
    hljs.initHighlightingOnLoad();
</script>
{% endblock %}

{% block css %}
{% endblock %}
