{% extends "layout_compose.html" %}

{% block source %}
{% endblock %}

{% block body %}
<div class="ui fixed transparent main inverted menu">
    <a class="item"  href = "{{ url_for('main.dash') }}">
        <i class=" green home icon"></i>{{ g.platform_setting.page_title }}
    </a>
    <!--
    <a class="item"  href = "{{ url_for('main.mainbbs') }}">
        <i class="chat outline icon"></i>BBS
    </a>
    -->
    <a class="item"  href = "{{ url_for('main.post_title', title = 'about') }}">
        <i class="teal book icon"></i>ABOUT
    </a>
    {% if g.platform_setting.show_blog_link %}
    <a class="item"  href = "{{ url_for('main.mainblog') }}">
        <i class=" blue browser icon"></i>BLOG
    </a>
    {% endif %}
    <div class="ui icon item">
        <div class="ui tiny button" id="undo"><i class="undo icon"></i></div>
        <div class="ui tiny button" id="redo"><i class="repeat icon"></i></div>
        <div class="ui tiny button" id="dobold"><i class="bold icon"></i></div>
        <!--<div class="ui tiny button"><i class="align center icon"></i></div>
        <div class="ui tiny button"><i class="align left icon"></i></div>
        <div class="ui tiny button"><i class="align right icon"></i></div>-->
        <div class="ui tiny button" id="addurl"><i class="url icon"></i></div>
        <div class="ui tiny button" id="addimg"><i class="photo icon"></i></div>
        <!--<div class="ui tiny button"><i class="code icon"></i></div>-->
    </div>
    
    <div class="ui icon item">
        <div class="ui tiny button" id="newdoc"><i class="file outline icon"></i></div>
        <!--<div class="ui tiny button"><i class="save icon"></i></div>
        <div class="ui tiny button"><i class="open folder outline icon"></i></div>-->
        <div class="ui tiny dropdown button">
            <i class="share icon"></i>
            <div class="menu">
                <div class="item" id="exporthtml">export as HTML</div>
                <div class="item" id="exportmd">export as MD</div>
            </div>
        </div>
        <!--<div class="ui tiny button"><i class="setting icon"></i></div>-->
        <div class="ui tiny button " id="help" data-content="enjoy :)" data-position="bottom center"><i class="help icon"></i></div>
    </div>
    
    <div class="item">
        <div class="ui left small icon input">
            <input type="text" placeholder="title(permanent link)" id="title">
            <i class="edit icon"></i>
        </div>
    </div>
    <div class="item">
        <div class="ui tiny positive button" id="submit">publish</div>
        <div class="ui tiny red button"  id="close">close</div>
    </div>
    <div class="right menu">
        <!--<div class="ui dropdown item">
        语言 <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item">英文</a>
                <a class="item">中文</a>
            </div>
        </div>-->
        <div class="ui dropdown item">
            <i class="user icon"></i>
            <div class="menu">
                {% if current_user.is_authenticated() %}
                {% if current_user.is_god() %}
                <a class="item" href = "{{ url_for('main.dashboard')}}">Admin</a>
                {% endif %}
                <a class="item" href = "{{ url_for('main.user', name = current_user.name )}}">Account</a>
                <a class="item" href = "{{ url_for('auth.logout') }}">Log out</a>
                {% else %}
                <a class="item" href = "{{ url_for('auth.login') }}">Log in</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
    <!--<div class="ui fluid left icon input">
        <input type="text" placeholder="title" id="title">
        <i class="edit icon"></i>
    </div>-->

    <!--<div class="ui horizontal icon divider"><i class="circular comment outline icon"></i></div>-->

<div id = "markdown_main">
    <div id="markdown_editor"></div>
    <div id = "markdown_preview"></div>
</div>

{% endblock %}

{% block script %}

<style type="text/css" media="screen">
    #markdown_editor { 
        position: absolute;
        top: 0px;
        right: 0;
        bottom: 0;
        left: 0;
        overflow-y:hidden;
    }
    #markdown_main { 
        position: absolute;
        top: 42px;
        right: 0;
        bottom: 0;
        left: 0;
        height:100% - 42px;
        overflow: hidden;
    }
</style>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/beartoday_editor.js') }}"></script>
<script>
    function getAllMethods(object) {
        return Object.getOwnPropertyNames(object).filter(function(property) {
            return true;//typeof object[property] == 'function';
        });
    }
    
    $('#markdown_main').split({orientation:'vertical', limit:300, onDragEnd:onSplitterDargEnd});
    
    //semantic-ui
    $('.ui.dropdown').dropdown();
    $('#help').popup();
    function savepostover(data, status)
    {
        if(status == 'success' && data == "OK")
        {
            alert("succeeded");
            window.close();
        }
        else
        {
            alert("failed");
        }
    }

    $('#submit').bind('click', function(){
        if($('#title').val() == ""){
            alert("title is missing!");
            return;
        }
        
        $.post("savepost", {original_post:0, editor_mode:"new", title:$('#title').val(), owner_bbs:0, owner_blog:{{ current_user.get_id() }}, body:mdi.getWholeText()/*previewHtml*/, parent_post_id:0, ancestor_post_id:0, is_comment:0}, savepostover);
    });

    $('#close').bind('click', function(){
        window.close();
    });
</script>

{% endblock %}
