{% import "/wtf.html" as wtf %}
<!doctype html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ g.platform_setting.window_title }}</title>
<script src="{{g.config['jquery_js_url']}}"></script>
<script src="{{g.config['semantic_js_url']}}"></script>
<link rel=stylesheet type=text/css class="ui" href="{{g.config['semantic_css_url']}}">

{% block source %}
{% endblock %}
</head>
<body id="example" style="background-image:url('{{g.config['background_img']}}')">

{% block body %}
{% endblock %}

</body>

{% block script %}
{% endblock %}
{% block css %}
{% endblock %}
</html>
