{% extends "layout_main.html" %}

{% block body %}
<div class="ui grid">
    {% if g.platform_setting.mode == 1 %}
    <div class="ui three wide column">
        <div class="ui tiny top attached header">BBS TREE</div>
        <div class="bbstree-segment">
            <div class="ui attached segment">
                <ul id="bbstree" class="ztree bbstree"></ul>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="ui ten wide column">
        <div id = "thread"></div>
    </div>
</div>

{% include "bbs_post_editor.html" %}

{% endblock %}

{% block script %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'highlight/styles/monokai_sublime.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename = 'highlight/highlight.pack.js') }}"></script>
{% if g.platform_setting.mode == 1 %}
<script type="text/javascript" src="{{ url_for('static', filename='zTree_v3/js/jquery.ztree.all-3.5.js') }}"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='zTree_v3/css/zTreeStyle/zTreeStyle.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename = 'beartoday/bbstree.js') }}"></script>
{% endif %}

<script type="text/javascript">

    var can_reply = {{ can_reply }};
    var post_id = {{ post_id }};
    var parent_post_id = {{ parent_post_id }};
    var ancestor_post_id = {{ ancestor_post_id }};
    var user_is_author = {{ user_is_author }};
    
    var MODE_REPLY = "new";
    var MODE_EDIT = "edit";
    var editor_mode = MODE_REPLY;
    
    var post_title = "";
    var post_body = "";
    
    $('#markdown_main').split({orientation:'vertical', limit:200, onDragEnd:onSplitterDargEnd});
    $('#help').popup();
    
    function savepostover(data, status)
    {
        if(status == 'success' && data == "OK")
        {
            $('#mdeditor-modal').modal('hide');
            if(editor_mode == MODE_EDIT)
                alert("OK");
            updatethreaddata();
        }
        else
        {
            alert("failed");
        }
    }

    $('#mdeditor-submit').bind('click', function(){
        $.post("/savepost", {original_post:post_id, editor_mode:editor_mode, title:$("#mdeditor-title").val(), body:mdi.getWholeText()/*previewHtml*/, owner_bbs:0, owner_blog:0, parent_post_id:parent_post_id, ancestor_post_id:ancestor_post_id, is_comment:1}, savepostover);
    });

    $('#mdeditor-close').bind('click', function(){
        $('#mdeditor-modal').modal('hide');
    });
    
    function buildComments(posts){
        var comments = '';
        if(!posts || posts.length == 0)
            return '';
        var i;
        for(i = 0; i < posts.length; ++ i){
            localtime = moment.utc(posts[i].post.post_time).toDate();
            comments +=
            '<div class="comment post-comment">\
                <div class="ui blue raised compact segment">\
                    <div><a><img class="rounded ui image bbs-title-avatar" src ="http://bear.today/avatar/' + posts[i].author.avatar_hash + '?s=24">\</a>\
                    <a href="/user/' + posts[i].author.name + '">' + posts[i].author.name + '</a> '
                    + moment(localtime).format("YYYY-MM-DD HH:mm:ss") + ' | ' 
                    + posts[i].post.like_count + '<a class="like"><i class="thumbs up outline icon"></i></a> | '
                    + posts[i].post.dislike_count + '<a class="dislike"><i class="thumbs down outline icon"></i></a>\
                    <div class="ui mini green inverted button reply-button bt-right-float" id =' + posts[i].post.id +'>reply</div>\
                    </div><div class="ui divider"></div>'
                     + converter.makeHtml(posts[i].post.body) +
                '</div>';
                
                if(posts[i].child_posts.length != 0){
                    comments += '\
                    <div class="ui comments post-comments">';
                    comments += buildComments(posts[i].child_posts);
                    comments +=
                    '</div>';
                }
            comments += '\
            </div>';
        }
        
        return comments;
    }
    
    function getthreadover(data, status){
        if(status == "success"){
            var thread = JSON.parse(data);
            
            post_title = thread.post.title;
            post_body = thread.post.body;
            
            edit_button_string = "";
            if(user_is_author)
                edit_button_string = '<div class="ui red mini button editbutton" id ="post-edit-button">edit</div>';
                
            localtime = moment.utc(thread.post.post_time).toDate();
            
            var threadstring = '\
                    <div class="ui blue raised segment">\
                        <div class="post-title-info">\
                            <img class="rounded ui image bbs-title-avatar" src ="http://bear.today/avatar/' + thread.author.avatar_hash + '?s=28">'
                            + '<a href="/user/' + thread.author.name + '">' + thread.author.name + '</a> '
                            + moment(localtime).format("YYYY-MM-DD HH:mm:ss") + ' | '
                            + thread.post.view_count + '<i class="unhide icon"></i> | '
                            + thread.post.comment_count + '<i class="comment outline icon"></i> | '
                            + thread.post.like_count + '<a class="like"><i class="thumbs up outline icon"></i></a> | '
                            + thread.post.dislike_count + '<a class="dislike"><i class="thumbs down outline icon"></i></a>'
                            + '<div class="bt-right-float">'
                                + edit_button_string +
                                '<div class="ui inverted green mini button reply-button" id = ' + thread.post.id + '>reply</div>\
                            </div>\
                        </div>\
                        <h2>' + thread.post.title + '</h2><div class="ui horizontal divider"><i class="large paw icon"></i></div>\
                        <div class="BT-post">' + converter.makeHtml(thread.post.body) + '</div>\
                    </div>';
                    
            if(thread.child_posts.length != 0){
                threadstring +='<div class="ui threaded comments post-comments">';
                threadstring += buildComments(thread.child_posts);
                threadstring += '</div>';
            }
            threadstring +='</div>';
            
            $("#thread").html(threadstring);
            
            $('pre code').each(function(i, block) {
                hljs.highlightBlock(block);
            });
            
            //$("#mdeditor-modal").sidebar({overlay: true});
            //$("#mdeditor-modal").modal('show');
            
            $(".reply-button").click(function(){
                if(!can_reply){
                    alert("register and confirm your account first");
                    return;
                }
                $('#mdeditor-mode').html('REPLY');
                //$('#mdeditor-modal').sidebar('show');
                $("#mdeditor-modal").modal('toggle');
                editor_mode = MODE_REPLY;
                parent_post_id = this.id;
            });
                
            $("#post-edit-button").click(function(){
                $('#mdeditor-modal').modal('show');
                editor_mode = MODE_EDIT;
                parent_post_id = 0;// no use
                
                $('#mdeditor-mode').html('EDIT');
                $("#mdeditor-title").val(post_title);
                mdi.setWholeText(post_body);
                //$("#mdeditor-body").html(post_title);
            });
        }
        else{
            alert("ERROR!");
        }
    }
    
    function updatethreaddata(){
        $.post("/getthread", {post_id:post_id}, getthreadover);
    }
    
    updatethreaddata();
    
    {% if g.platform_setting.mode == 1 %}
    bbstree = new BBSTREE({{ owner_bbs }});
    bbstree.getbbstree();
    {% endif %}
    
</script>
{% if g.platform_setting.mode == 1 %}
<style type="text/css">
.ztree li span.button.add {margin-left:2px; margin-right: -1px; background-position:-144px 0; vertical-align:top; *vertical-align:middle}
</style>
{% endif %}
{% endblock %}
